.email-btn, .services__name {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --add-color: #2f303a;
  --accent-color: #2196f3;
  --add-font-color: #ffffff;
  --main-font-color: #212121;
  --text-font-color: #757575;
  --team-bgr-color: #f5f4fa;
  --logo-color: #000000;
  --focus-color: #188ce8;
  --header-border: #ececec;
  --portfolio-borders: #eeeeee;
  --icon-color: #afb1b8;
  --footer-icon-color: rgba(255, 255, 255, 0.1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-font-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--add-font-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body.modal-open {
  overflow: hidden;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.item:first-child {
  margin-left: 0px;
}

.heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 50px;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .heading {
    font-size: 28px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  min-width: 200px;
  background-color: var(--accent-color);
  color: var(--add-font-color);
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background-color: var(--focus-color);
}

.header {
  border-bottom: 1px solid var(--header-border);
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header > .header__container,
.site-nav {
  display: flex;
  align-items: center;
}

.link,
.link-p,
.link-l {
  text-decoration: none;
  color: inherit;
  display: block;
}

.logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--logo-color);
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .logo {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.logo__word--color {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.btn-menu-open {
  display: block;
  margin-left: auto;
  border: none;
  background-color: var(--add-font-color);
}
.btn-menu-open:hover, .btn-menu-open:focus {
  color: var(--accent-color);
}

.menu-icon:hover,
.menu-icon:focus {
  fill: currentColor;
}

.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-menu {
  position: fixed;
  background-color: var(--add-font-color);
  z-index: 2;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
}

.btn-menu-close {
  display: block;
  margin-left: auto;
  margin-bottom: 30px;
  border: none;
  background-color: var(--add-font-color);
}
.btn-menu-close:hover, .btn-menu-close:focus {
  color: var(--accent-color);
}

.site-menu-container {
  height: 100%;
}

.site-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.site-menu__item {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-font-color);
}
.site-menu__item:hover, .site-menu__item:focus {
  color: var(--accent-color);
}
.site-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-contacts {
  margin-bottom: 64px;
}

.menu-contacts__item-tell {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02;
  color: var(--accent-color);
  margin-bottom: 32px;
}

.menu-contacts__item-email {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02;
  color: var(--text-font-color);
}

.menu-contacts__icon {
  fill: currentColor;
}

.media-links {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.media-links__item {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02;
  color: var(--accent-color);
  position: relative;
}

.instagram::after {
  content: " ";
  position: absolute;
  width: 22px;
  height: 0px;
  top: 8px;
  left: 85px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.twitter::after {
  content: " ";
  position: absolute;
  width: 22px;
  height: 0px;
  top: 8px;
  left: 58px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.facebook::after {
  content: " ";
  position: absolute;
  width: 22px;
  height: 0px;
  top: 8px;
  left: 81px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
  }
}

.site-nav > .item {
  margin-left: 50px;
}

.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.contacts > .item + .item {
  margin-left: 0;
}
@media screen and (min-width: 1200px) {
  .contacts > .item + .item {
    margin-left: 50px;
  }
}

.site-nav__item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__item:first-child {
  margin-left: 0;
}
.site-nav__item:focus, .site-nav__item:hover {
  color: var(--accent-color);
}

.studio {
  color: #ffffff;
}

.site-nav {
  margin-left: 93px;
}

.site-nav .link.current {
  color: var(--accent-color);
  position: relative;
}

.header__contacts {
  margin-left: auto;
}

.list {
  list-style: none;
}

.site-nav__item,
.contacts__item {
  margin: 0;
}

.site-nav__link,
.contacts__link {
  font-weight: 500;
  line-height: 1.14;
}

.contacts__link {
  color: var(--text-font-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts__item {
  color: var(--text-font-color);
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contacts__item {
    margin-bottom: 10px;
  }
}

.link.current:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  transform: translateY(44px);
}

.hero {
  background-color: var(--add-color);
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mobile.jpg);
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mobile-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tablet-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/team-bg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/team-bg-2x.jpg);
  }
}

.hero .container {
  max-width: 320px;
}
@media screen and (min-width: 480px) {
  .hero .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .hero .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero .container {
    max-width: 1200px;
  }
}

.hero__title {
  font-size: 20px;
  font-weight: 900;
  line-height: 1.71;
  letter-spacing: 0.06em;
  max-width: 360px;
  margin: 0 auto;
  text-transform: uppercase;
  color: var(--add-font-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .hero__title {
    max-width: 480px;
    font-size: 26px;
    font-weight: 900;
    line-height: 1.61;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features__icon-bg {
  display: flex;
  justify-content: center;
  width: 100%;
  background: var(--team-bgr-color);
  border: transparent;
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.features__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
  }
}
.features__item .features__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .features__item .features__title {
    text-align: start;
  }
}
.features__item .features__text {
  line-height: 1.71;
  color: var(--text-font-color);
}
.specification {
  padding-top: 0;
}

@media screen and (max-width: 1200px) {
  .specification {
    display: none;
  }
}
.services {
  display: flex;
}

.services > .services__item {
  width: calc((100% - 60px) / 3);
  position: relative;
}

.services > .services__item:not(:last-child) {
  margin-right: 30px;
}

.services__name {
  position: absolute;
  left: 0;
  bottom: 0;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  width: 100%;
  height: 70px;
  color: var(--add-font-color);
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--team-bgr-color);
}

.members {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.member-info__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  margin-bottom: 10px;
}

.members__item {
  width: 100%;
  background-color: var(--add-font-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .members__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .members__item {
    width: calc((100% - 90px) / 4);
  }
}

.member-info {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.member-info__position {
  font-size: 16px;
  line-height: 1.19;
  color: var(--text-font-color);
}

.socials {
  display: flex;
  justify-content: center;
}

.member-info__socials {
  margin-top: 16px;
}

.socials__item {
  margin-right: 10px;
}
.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  background-color: var(--add-font-color);
  color: var(--icon-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  color: var(--add-font-color);
}

.socials__icon {
  fill: currentColor;
}

.clients-list {
  color: var(--icon-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.clients-item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients-item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    width: calc((100% - 150px) / 6);
  }
}

.clients-site {
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-site:hover, .clients-site:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-icon {
  fill: currentColor;
}

.footer {
  background-color: var(--add-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .footer .container {
    display: flex;
    align-items: baseline;
  }
}

.footer .logo {
  margin-bottom: 20px;
}

.container-address {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .container-address {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.address-link,
.contacts-link {
  font-style: normal;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover, .address-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.address-link {
  color: var(--add-font-color);
}

.address-list {
  gap: 8px;
}
@media screen and (min-width: 1200px) {
  .address-list {
    gap: 9px;
  }
}

.address-item:not(:last-child) {
  margin-bottom: 8px;
}

.contacts-link {
  color: rgba(255, 255, 255, 0.6);
}

.container-media {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .container-media {
    margin-bottom: 0;
    text-align: start;
  }
}

.media-header {
  font-size: 400;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--add-font-color);
  margin-bottom: 20px;
}

.media-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.media-link {
  background-color: var(--footer-icon-color);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-link:hover, .media-link:focus {
  background-color: var(--accent-color);
}

.media-icon {
  fill: var(--add-font-color);
}

.subscribe-form {
  width: 100%;
  height: 86px;
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 570px;
  }
}

.email-accept {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .email-accept {
    margin-left: auto;
    text-align: start;
  }
}

.email-info {
  display: inline-block;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--add-font-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  background-color: transparent;
  margin-bottom: 20px;
}
@media screen and (min-width: 480px) {
  .email-info {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .email-info {
    width: 358px;
    margin-right: 12px;
  }
}

.email-info::placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.email-btn {
  padding-left: 29px;
  padding-right: 28px;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .email-btn {
    margin-left: 0;
    margin-right: 0;
  }
}

.email-btn-icon {
  fill: var(--add-font-color);
  margin-left: 10px;
}

.options-btn {
  font-family: inherit;
  color: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: inherit;
  padding: 6px 22px;
  background-color: var(--team-bgr-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.options-btn:hover, .options-btn:focus {
  background-color: var(--accent-color);
  color: var(--add-font-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.options-list {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px 8px;
}
@media screen and (min-width: 768px) {
  .options-list {
    justify-content: center;
  }
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects-item {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .projects-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .projects-item {
    width: calc((100% - 60px) / 3);
  }
}
.projects-item:hover, .projects-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-link:hover,
.projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.add-text {
  position: relative;
  overflow: hidden;
}

.text-info {
  position: absolute;
  top: 0px;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 28px;
  color: var(--add-font-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-link:hover .text-info, .projects-link:focus .text-info {
  transform: translateY(0%);
}
.projects-item:hover .text-info, .projects-item:focus .text-info {
  transform: translateY(0%);
}

.projects-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  margin-bottom: 4px;
}

.projects-item .projects-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-font-color);
}

.projects-description {
  border: 1px solid var(--portfolio-borders);
  border-top: none;
  padding: 20px 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%) scale(1) rotate(0);
  width: 320px;
  height: 600px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 450ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
  }
}
@media screen and (min-width: 767px) {
  .modal {
    transform: translate(-50%, -50%) scale(1) rotate(0);
  }
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(3) rotate(360deg);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.btn-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--add-font-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal:focus, .btn-modal:hover {
  cursor: pointer;
  color: var(--accent-color);
}

.btn-icon {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-icon:focus, .btn-icon:hover {
  fill: currentColor;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
  margin-bottom: 12px;
}

.label {
  display: block;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--text-font-color);
  margin-bottom: 4px;
}
.label:not(:first-child) {
  margin-top: 10px;
}

.input {
  width: 95%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .input {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .input {
    width: 448px;
  }
}
.input-wrap:focus-within .input, .input-wrap:hover .input {
  border: 1px solid var(--accent-color);
}
.input:focus, .input:hover {
  outline: none;
  border-color: var(--accent-color);
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--main-font-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrap:focus-within .input-icon, .input-wrap:hover .input-icon {
  fill: var(--accent-color);
}

.input:focus + .input-icon {
  fill: var(--accent-color);
}

.textarea.input {
  height: 120px;
  resize: none;
  padding: 12px 16px;
}

.textarea::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-label {
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--text-font-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-wrap {
  margin-top: 20px;
  min-width: 423px;
}

.checkbox-wrap .link {
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.checkbox-label span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 10%;
  margin-right: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checked-icon {
  fill: transparent;
}

.checkbox-input:checked + .checkbox-label span {
  background-color: var(--accent-color);
  border: none;
}

.checkbox-input:checked + .checkbox-label .checked-icon {
  fill: var(--accent-color);
}

.submit-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}/*# sourceMappingURL=main.css.map */