.team {
  background-color: var(--team-bgr-color);
}

.members {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.member-info__name {
  @include font(16px, 500, 1.17, null);
  margin-bottom: 10px;
}

.members__item {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);

    @media screen and (min-width: 1200px) {
      width: calc((100% - 90px) / 4);
    }
  }
  background-color: var(--add-font-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.member-info {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.member-info__position {
  font-size: 16px;
  line-height: 1.19;
  color: var(--text-font-color);
}

.socials {
  display: flex;
  justify-content: center;
}

.member-info__socials {
  margin-top: 16px;
}

.socials__item {
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  background-color: var(--add-font-color);
  color: var(--icon-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--add-font-color);
  }
}

.socials__icon {
  fill: currentColor;
}
