.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.item:first-child {
  margin-left: 0px;
}

.heading {
  @include font(36px, 700, 1.17, null);
  margin-bottom: 50px;
  text-align: center;

  @media screen and (max-width: 1200px) {
    font-size: 28px;
  }
}
